<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wt.admin.question.dao.FaqDao">

	<select id="adminFaqList" resultType="faq">
		select *
		from faq_tbl order by f_num desc
	</select>

	<insert id="faqInsert" parameterType="faq">
		<selectKey keyProperty="f_num" resultType="int"
			order="BEFORE">
			select faq_seq.nextval from dual
		</selectKey>
		insert into faq_tbl(f_num, f_question, f_answer) values(#{f_num},
		#{f_question}, #{f_answer})
	</insert>

	<update id="faqUpdate" parameterType="faq">
		update faq_tbl
		set
		f_question=#{f_question},
		f_answer=#{f_answer} where f_num=#{f_num}
	</update>

	<delete id="faqDelete" parameterType="faq">
		delete from faq_tbl where f_num=#{f_num}
	</delete>
</mapper>
